.padding-0{
    padding: 0 !important;
}
.add-area .alert-success {
    margin: 0px -15px;
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border: none;
    font-size: 16px;
    border-radius: 0px;
}